<!--
  Generated template for the TrackDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>track-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="free">
    <audio [src]="src" controls></audio>
  </div>



</ion-content>
